[Unit]
Description=Daemon listening to chroma color change requests
Requires=openrazer-daemon.service
After=openrazer-daemon.service

[Service]
Restart=always
ExecStart=/etc/rasiel/chroma.py
Type=simple
Environment=DISPLAY=:1

[Install]
WantedBy=default.target
